header ul{
    display: flex;
    gap: 10px;
}
.btnHeader{
    border: none;
    border-bottom: 1px solid aqua;
    background-color: transparent;
    min-width: 100px;
    height: 50px;
    transition: ease-in-out 0.1s;
}
.btnHeader:active{
    background-color: white;
    border-radius: 30px;
    border-color: transparent;
}
header{
    background-color: rgb(131, 129, 129);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header h1{
    font-size: 40px;
}
header img{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 5px white;
}
footer{
    background-color: #121212;
    min-height: 10dvh;
}
main{
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    gap: 20px;
    padding: 10px;
}
main img{
    max-height: 100dvh;
    max-width: 80dvw;

}
.qr{
    height: 300px;
    width: 300px;
    align-self: center;
}
